header {
    background-color: lightgoldenrodyellow;
    width: 100%;
    height: 70px;
}

.position-box-1{
    width: 400px;
    height: 400px;
    background-color: aqua;
    position: absolute;
   
}
.position-box-2{
    width: 300px;
    height: 300px;
    background-color: cadetblue;
    position: absolute;
    z-index: 5;
}
.position-box-3{
    width: 200px;
    height: 200px;
    background-color: darkgoldenrod;
    position: absolute;
    right: 50px;
    left: 300px;
    top: 100px;
}